@use "../landing-page/landing-page.component";

*{
    font-family: landing-page.$font-family;
}

.container-fluid {
    background-color: landing-page.$h-font-color;
    align-items: center;
    text-align: center;

    .row.intro {
        margin: 0px auto;
        width: 80%;
        position: relative;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(12, 1fr);
        -webkit-box-align: center;
        align-items: center;
        border-bottom:none;

        .project-description {
            position: relative;
            grid-area: 1 / 1 / -1 / 7;



            .project-title {
                color: var(--lightest-slate);
                font-size: clamp(24px, 5vw, 28px);
                text-transform: uppercase;
                text-align: left;
                color: landing-page.$container-background;
                font-weight: 800;
                font-family: landing-page.$font-family;
            }

            .project-text {
                box-shadow: 0 10px 30px -15px landing-page.$container-background;
                transition: var(--transition);
                position: relative;
                z-index: 2;
                padding: 25px;
                border-radius: 1em;
                background-color: landing-page.$container-background;
                color: landing-page.$h-font-color;
                font-size: 14px;
            }

            .project-links {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                position: relative;
                margin-top: 10px;
                margin-left: -10px;
                color: var(--lightest-slate);
            }


        }

        .project-image {
            //box-shadow: 0 10px 30px -15px landing-page.$container-background;
            transition: var(--transition);
            grid-area: 1 / 6 / -1 / -1;
            position: relative;
            z-index: 1;

            a {
                display: inline-block;
                text-decoration: none;
                text-decoration-skip-ink: auto;
                color: inherit;
                position: relative;
                transition: var(--transition);
            }

            img {
                box-shadow: 0 10px 30px -15px landing-page.$container-background;
                border-radius: 1em;
                mix-blend-mode: multiply;
                filter: grayscale(100%) contrast(1) brightness(90%);
                bottom: 0;
                height: 100%;
                left: 0;
                margin: 0;
                max-width: none;
                padding: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .row {
        // background-color: landing-page.$container-background;
        // border-radius: 2em;
        //border-bottom: 1px solid landing-page.$container-background;
        
        .text{
            color: #8D5A97;
            font-family: landing-page.$font-family;
            line-height:170%;
        }
        h2.infotitle{
            text-transform: uppercase;
            color: #8D5A97; 
            font-weight: 800;   
        }
        
        
        .image1 img{
            border-radius: 2em;
            box-shadow: 0 10px 30px -15px #4E3356;
        }
    }
    


}