@use "../landing-page/landing-page.component";

.container-fluid.projects {
    background-color: landing-page.$h-font-color;

    .row{
        width:70%;
        margin:0px auto;
    }

    .row>.col:nth-child(even) {
        .card {
            background-color: landing-page.$container-background;
            color: landing-page.$brightest-green;
            border-radius: 1rem;
            border: none;
            box-shadow: rgba(49, 32, 54, 0.19) 0px 10px 20px, rgba(49, 32, 54, 0.23) 0px 6px 6px;

            &:hover {
                transform: scale(1.1);
                border: none;
            }

            .card-image {
                position: relative;

                img {
                    border-top-right-radius: 1rem;
                    border-top-left-radius: 1rem;
                }

            }


            .card-body {
                font-family: landing-page.$font-family;

                // background-color: $container-background;
                // border-bottom-left-radius: 1rem;
                // border-bottom-right-radius: 1rem;
                // opacity:0.5;
                .card-title {
                    text-transform: uppercase;
                    font-size: 19px;
                    font-weight: 800;
                    letter-spacing: 0.07em;
                }

                .card-text {
                    font-size: 16px;
                    font-weight: 400;
                }
            }

        }
    }

    .row>.col:nth-child(odd) {
        .card {
            background-color: landing-page.$between-purpleandgreen;
            color: landing-page.$brightest-green;
            border-radius: 1rem;
            border: none;
            box-shadow: rgba(49, 32, 54, 0.19) 0px 10px 20px, rgba(49, 32, 54, 0.23) 0px 6px 6px;

            &:hover {
                transform: scale(1.1);
                border: none;
            }

            img {
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
            }

            .card-body>.card-title {
                font-family: landing-page.$font-family;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 800;
            }

        }
    }
}