@use "../landing-page/landing-page.component";

h1 {
    color: landing-page.$h-font-color;
    font-family: landing-page.$font-family;
}

.aboutMe {
    background-color: landing-page.$container-background;

    h2 {
        color: landing-page.$h-font-color;
        font-family: landing-page.$font-family;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.08em;
    }

    .row>.col.whoAmI {
        border-right: 1px solid landing-page.$brightest-green;

    }
}