$container-background: #4E3356;
$h-font-color: #B8EBD0;
$disabled-text: #A4A5AE;
$font-family: 'Raleway', sans-serif;
$brightest-green: #8EF5D5;
$between-purpleandgreen: #907F9F;

.container-fluid {
    background-color: $container-background;

    @keyframes slide-in {
        0% {
         right: -500px;
       }
       100% {
         right: 0;
       }
     }
     @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes scaleUp {
        0% {
        transform: scale(1);
      }
      50%{
        transform: scale(1.7);
      }
       100% {
        transform: scale(1);
      }
    }
      

     .col.description{
        width: 100%;
        height:100%;

     }

     .titleText{
        position:relative;
        animation: fade-in 2s ease, ;
        -webkit-animation: fade-in 2s ease, ;
        
        .helloMessage{
            color: #A496B0;
            //font-size:1.5em;
            letter-spacing: 1px;
            font-style: italic;
            animation: fade-in 1.5s ease;
        }
        h1{
            position:relative;
            animation: scaleUp 5s ease;
            -webkit-animation: scaleUp 5s ease;

        }

     }

    

    h1 {
        color: $h-font-color;
        font-family: $font-family;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 3px;
        margin-bottom:0px;
        font-size:3.4em;
    }

    .row.introduction{
        width: 85%;
        margin:0px auto;
    }


    .introText {
        color: $h-font-color;
        font-weight: 400;
        font-size: 20px;
        font-family: $font-family;
        text-transform: uppercase;
        line-height: 200%;
        text-align: justify;
    }

    .col.image {
        height: 80%;
    }

    img {
        height:70vh;
    }


}