<div class="container-fluid pt-5 pb-5" #home>
    <div class="row welcomeMessage text-center">
        <div class="col text-center">
        </div>
    </div>
    <div class="row introduction d-flex justify-content-between">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-2 order-xs-2 order-sm-2 order-md-2 order-lg-1 order-xl-1 image d-flex align-items-center">
            <img src="../../../../assets/images/img8.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-1 order-xs-1 order-sm-1 order-md-1 order-lg-2 order-xl-2  description align-items-center">
            <div class="titleText">
                <div class="helloMessage text-start"><small>Hello my name is</small></div>
                <h1>Milena</h1>
                <div class="helloMessage text-start mb-4"><small>and I build web aplications.</small></div>
            </div>
            
            <div class="introText mb-5">Hi there <span> <fa-icon [icon]="fahand"></fa-icon></span> and welcome to my portfolio page. 
                If you are looking for something, I hope you will find it here, and if you are just here to browse, I hope you'll have fun browsing. 
                Interested in getting to know more about me, and my work, scroll down and dive into my web world, and don't be shy to say hello back. 
                You can do that in the 'contact me' section.<br/> Have a great day.</div>
        </div>
    </div>
</div>
