<div class="container-fluid pt-5 pb-5" #home>
    <div class="row welcomeMessage text-center">
        <div class="col text-center">
        </div>
    </div>
    <div class="row introduction d-flex">
        <div class="col image d-flex align-items-center">
            <img src="../../../../assets/images/placeholder.png" alt="">
        </div>
        <div class="col description align-items-center">
            <div class="titleText">
                <div class="helloMessage text-start"><small>Hello my name is</small></div>
                <h1>Milena</h1>
                <div class="helloMessage text-start mb-4"><small>and I build web aplications.</small></div>
            </div>
            
            <div class="introText mb-5">I started painting as a hobby when I was little. I didn't know I had
                any talent. I believe talent is just a pursued interest. Anybody can do what I do. Just go back and
                put one little more happy tree in there. Everybody's different. Trees are different.</div>
        </div>
    </div>
</div>
