@use '../../../landing-page/components/landing-page/landing-page.component';

.container-fluid{
    background-color: landing-page.$container-background;
    .navigation>ul.nav>li>a{
        color: landing-page.$h-font-color;
    }
}
.container-fluid.project{
    background-color: landing-page.$h-font-color;
    .navigation>ul.nav>li>a{
    color: landing-page.$container-background;
    font-weight: 800;
    }
}
ul.nav {
    color: landing-page.$h-font-color;

    li>a {
        font-weight: 600;
        font-size: 16px;
        font-family: landing-page.$font-family;
        text-transform: uppercase;
        letter-spacing: 0.08em;

        &.disabled {
            color: landing-page.$disabled-text;
            font-weight: 400;
        }

        &.active {
            font-weight: 700;
            text-decoration: underline;
            font-size: 17px;
        }
    }

}