$container-background: #4E3356;
$h-font-color: #B8EBD0;
$disabled-text: #A4A5AE;
$font-family: 'Raleway', sans-serif;
$brightest-green: #8EF5D5;
$between-purpleandgreen: #907F9F;

@keyframes color-change {
    0% {
        color: $h-font-color;
    }

    50% {
        color: #AA80B3;
    }

    100% {
        color: $h-font-color;

    }
}

.navbar {
    padding: 0px;
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(183,236,208)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

    .container-fluid {
        background-color: $container-background;
        
        a{
            cursor: pointer;
        }

        a.navbar-brand.homepage{
            text-shadow: -1px -1px 0px $container-background, 1px 1px 0px $container-background, 2px 2px 0px rgba(0, 0, 0, 0.3333333333);
        }
        .navbar-toggler:focus{
            box-shadow: none!important;
        }

        div#navbarNavAltMarkup {
            justify-content: end;
        }

        .navigation>ul.nav>li>a {
            color: $h-font-color;
            cursor: pointer;
            transition: color 0.7s ease-in-out;

            &:hover {
                color: #AA80B3;
            }
        }
    }

    .navbar-brand {
        color: $h-font-color;
        font-weight: 800;
        font-size: 3em;
        animation: color-change 4s infinite;
        animation-iteration-count: infinite;
    }
}

.container-fluid.project {
    background-color: $h-font-color !important;
    z-index: 1;

    .navigation>ul.nav>li>a {
        color: $container-background !important;
        font-weight: 800;
        border-radius: 0.7em;
        text-decoration: none;
        position: relative;
        transition: color 0.7s ease-in-out;

        &:hover {
            &:before {
                width: 100%;
                background-color: rgba(#8E5C99, 0.7);
                box-shadow: rgba(81, 53, 90, 0.3) 0px 1px 2px 0px, rgba(81, 53, 90, 0.15) 0px 2px 6px 2px;
            }
        }
    }

    .navigation>ul.nav>li>a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 28px;
        background-color: rgba(#8E5C99, 0.4);
        width: 40px;
        height: 40px;
        transition: all .5s ease;
        z-index: -1;

    }

}

ul.nav {
    color: $h-font-color;

    li>a {
        font-weight: 600;
        font-size: 16px;
        font-family: $font-family;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        text-decoration: none;

        &.disabled {
            color: $disabled-text;
            font-weight: 400;
        }

        &.active {
            font-weight: 700;
            color: #8E5C99 !important;
            font-size: 17px;
            text-shadow: -1px -1px 0px $container-background,
                1px 1px 0px $container-background,
                2px 2px 0px rgba(0, 0, 0, 0.3333333333);
        }
       
    }

}