<div class="container-fluid getInTouch pt-5 pb-5 text-center" #contactme>
    <h2 class="caption mb-5">
        Get in touch
    </h2>
    <div class="row getInTouch">
        <div class="col">
            <div class="mb-5">
                <span>Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you
                    have a question or just want to say hi, I’ll try my best to get back to you! </span>
            </div>
            <a class="btn btn-secondary mb-5 pt-3 pb-3 ps-2 pe-2" href="mailto:shiziks@hotmail.com" rel="noopener noreferrer" >Say Hello</a>
        </div>
    </div>
</div>
