@use "../../../landing-page/components/landing-page/landing-page.component";

.container-fluid.footer {
    background-color: landing-page.$container-background;
    color: landing-page.$h-font-color;
    font-family: landing-page.$font-family;
    font-size: 12px;
    line-height: 150%;
    font-weight: 300;
    letter-spacing: 0.1em;
    //display: flex;
    //position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

    .row {
        width: 60%;
        margin: 0px auto;

        .col>.footerIcons>.row>.col>fa-icon {
            font-size: 25px;
        }
    }

}