<div class="container-fluid footer pt-5 text-center">
    <div class="row text-center">
        <div class="col-12 col-xs-12 col-s-12 col-md-12 col-lg-6 col-xl-6 column">
            <div class="footerIcons">
                <div class="row mb-3">
                    <div class="col">
                        <a href="https://github.com/Shiziks">
                            <fa-icon [icon]="['fab', 'github']"></fa-icon>
                        </a>
                    </div>
                    <div class="col">
                        <a href="http://www.linkedin.com">
                            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                        </a>
                    </div>
                    <div class="col">
                        <a href="http://www.codepen.com">
                            <fa-icon [icon]="['fab', 'codepen']"></fa-icon>
                        </a>
                    </div>

                </div>
            </div>
            <p class="mt-4">© Designed by Milena, 2023</p>
        </div>

    </div>
</div>
