
<app-nav-bar></app-nav-bar>
<app-intro-section></app-intro-section>

<app-projects-section></app-projects-section>
<app-about-me-section></app-about-me-section>

<div class="container-fluid getInTouch pt-5 pb-5 text-center">
    <h2 class="caption mb-5">
        Get in touch
    </h2>
    <div class="row getInTouch">
        <div class="col">
            <div class="mb-5">
                <span>Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you
                    have a question or just want to say hi, I’ll try my best to get back to you! </span>
            </div>
            <div class="btn btn-secondary">Say Hello</div>
        </div>
    </div>
</div>

<div class="container-fluid footer pt-5 text-center">
    <div class="row text-center">
        <div class="col">
            <div class="footerIcons">
                <div class="row mb-3">
                    <div class="col">
                        <fa-icon [icon]="['fab', 'github']"></fa-icon>
                    </div>
                    <div class="col">
                        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                    </div>
                    <div class="col">
                        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                    </div>
                    <div class="col">
                        <fa-icon [icon]="['fab', 'codepen']"></fa-icon>
                    </div>

                </div>
            </div>
            <p>© Designed by Milena, 2023</p>
        </div>

    </div>
</div>