$container-background: #4E3356;
$h-font-color: #B8EBD0;
$disabled-text: #A4A5AE;
$font-family: 'Raleway', sans-serif;
$brightest-green: #8EF5D5;
$between-purpleandgreen: #907F9F;

.container-fluid {
    background-color: $container-background;

    h1 {
        color: $h-font-color;
        font-family: $font-family;
    }

    &.aboutMe {
        background-color: $container-background;

        h2 {
            color: $h-font-color;
            font-family: $font-family;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 0.08em;
        }

        .row>.col.whoAmI {
            border-right: 1px solid $brightest-green;

        }
    }

    &.projects>.row>.col:nth-child(even) {
        .card {
            background-color: $container-background;
            color: $brightest-green;
            border-radius: 1rem;
            border: none;
            box-shadow: rgba(49, 32, 54, 0.19) 0px 10px 20px, rgba(49, 32, 54, 0.23) 0px 6px 6px;

            &:hover {
                transform: scale(1.1);
                border: none;
            }

            .card-image {
                position: relative;

                img {
                    border-top-right-radius: 1rem;
                    border-top-left-radius: 1rem;
                }

            }


            .card-body {
                font-family: $font-family;

                // background-color: $container-background;
                // border-bottom-left-radius: 1rem;
                // border-bottom-right-radius: 1rem;
                // opacity:0.5;
                .card-title {
                    text-transform: uppercase;
                    font-size: 19px;
                    font-weight: 800;
                    letter-spacing: 0.07em;
                }

                .card-text {
                    font-size: 16px;
                    font-weight: 400;
                }
            }

        }
    }

    &.projects>.row>.col:nth-child(odd) {
        .card {
            background-color: $between-purpleandgreen;
            color: $brightest-green;
            border-radius: 1rem;
            border: none;
            box-shadow: rgba(49, 32, 54, 0.19) 0px 10px 20px, rgba(49, 32, 54, 0.23) 0px 6px 6px;

            &:hover {
                transform: scale(1.1);
                border: none;
            }

            img {
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
            }

            .card-body>.card-title {
                font-family: $font-family;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 800;
            }

        }
    }

    &.projects,
    &.getInTouch {
        background-color: $h-font-color;

        &>.row {
            width: 80%;
            margin: 0px auto;
        }

        h2 {
            color: $container-background;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: 800;

        }

        .row {
            width: 70%;
        }

        .row.getInTouch {
            width: 50%;
        }

        .row>.col>div>span {
            color: $container-background;
            font-size: 18px;
            justify-content: center;
            font-family: $font-family;
            line-height: 220%;
        }

        .row>.col>.btn {
            background-color: $between-purpleandgreen;
            font-family: $font-family;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            color: $h-font-color;
            border-radius: 1rem;
            border: none;
            width: 30%;
            padding-top: 1.5%;
            padding-bottom: 1.5%;
            box-shadow: rgba(49, 32, 54, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
    }

    &.footer {
        background-color: $container-background;
        color: $h-font-color;
        font-family: $font-family;
        font-size: 12px;
        line-height: 150%;
        font-weight: 300;
        letter-spacing: 0.1em;

        .row {
            width: 40%;
            margin: 0px auto;

            .col>.footerIcons>.row>.col>fa-icon {
                font-size: 24px;
            }
        }
    }
}

ul.nav {
    color: $h-font-color;

    li>a {
        color: $h-font-color;
        font-weight: 600;
        font-size: 16px;
        font-family: $font-family;
        text-transform: uppercase;
        letter-spacing: 0.08em;

        &.disabled {
            color: $disabled-text;
            font-weight: 400;
        }

        &.active {
            font-weight: 700;
            text-decoration: underline;
            font-size: 17px;
        }
    }

}



.container {
    width: 80%;
}

.introText {
    color: $h-font-color;
    font-weight: 400;
    font-size: 20px;
    font-family: $font-family;
    text-transform: uppercase;
    line-height: 200%;
}

.col.image {
    height: 80%;
}

img {
    height: 70%;
}

.aboutMeText {
    color: $h-font-color;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    width: 90%;
    margin: 0px auto;
    line-height: 220%;
}

//////////////////////////////////////////////////////////
.wrapper.technologies {
    width: 90%;
    margin: 0px auto;
}

.technologies>ul {
    list-style: none;
    padding: 0;

    li+li {
        margin-top: 1rem;
    }

    li {
        display: flex;
        align-items: center;
        gap: 1rem;
        background: $h-font-color;
        font-family: $font-family;
        color: $container-background;
        padding: 0.5rem;
        border-radius: 1rem;
        width: calc(100% - 2rem);
        box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
    }

    li>.icons>fa-icon {
        font-size: 24px;
        margin-left: 5%;
        margin-right: 5%;
    }

    li>.icons>svg {
        font-size: 24px;
        margin-left: 5%;
        margin-right: 5%;
        vertical-align: sub;
    }

    li>.icons>i {
        font-size: 24px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-left: 5%;
        margin-right: 5%;
        vertical-align: sub;
    }

    li>.technologyNames {

        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
    }

    // li::before {
    //     counter-increment: list-item;
    //     content: counter(list-item);
    //     font-family: $font-family;
    //     font-size: 2rem;
    //     font-weight: 800;
    //     width: 2em;
    //     height: 2em;
    //     background: $container-background;
    //     flex: 0 0 auto;
    //     border-radius: 50%;
    //     color: $brightest-green;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    li:nth-child(even) {
        flex-direction: row-reverse;
        background: $between-purpleandgreen;
        color: $h-font-color;
        margin-right: -2rem;
        margin-left: 2rem;
    }

}