<div class="container-fluid aboutMe pt-5 pb-5" #aboutme>
  <div class="row aboutMeRow">
    <div class="col whoAmI">
      <h2 class="mb-5 text-center">Who am I?</h2>
      <div class="aboutMeText d-flex align-items-center pb-5">Hello! My name is Milena and I enjoy creating things
        that live on the internet. My interest in computers started back in the begining of '90s, when my father brought home a 
        computer from work, to show us (the kids) how it works. After that I was always learning more things about computers and with time I was in charge of maintaining systems on all our computers at home.
        Fist experience with web development was when I was coding the profile view for my MySpace page, and later when I managed a Wordpress blog.
        
        <br/><br/>In the meantime I built a carrer doing something I really enjoy, Yoga, but my interest for Computer Science never faded away and I decided that it is never
        too late to start learning what you love. Fast-forward to today, and I am a batchelor in Computer Science and I enjoy building web apps. My personal projects are all 
        things I enjoy in personal life as well and I strive to make applications that are user friendly and accessible to all. 
    </div>

    </div>
  </div>
  <div class="row mb-5 technologies mt-5">
    <h2 class="mb-5 text-center mb-3">Technologies I explore:</h2>
    <div class="row blocks">

      <div class="block__item text-center col">
        <a href="#" class="block text-center">
          <fa-icon [icon]="['fab', 'html5']"></fa-icon>
          <div class="name text-center">
            HTML
          </div>
        </a>
      </div>

      <div class="block__item text-center col">
        <a href="#" class="block text-center">
          <fa-icon [icon]="['fab', 'css3']"></fa-icon>
          <div class="name text-center">
            CSS
          </div>
        </a>
      </div>
      <div class="block__item text-center col">
        <a href="#" class="block text-center">
          <fa-icon [icon]="['fab', 'sass']"></fa-icon>
          <div class="name text-center">
            SASS
          </div>
        </a>
      </div>
      <div class="block__item text-center col">
        <a href="#" class="block text-center">
          <fa-icon [icon]="['fab', 'angular']"></fa-icon>
          <div class="name text-center">
            ANGULAR
          </div>
        </a>
      </div>
      <div class="block__item text-center col">
        <a href="#" class="block text-center">
          <fa-icon [icon]="['fab', 'js']"></fa-icon>
          <div class="name text-center">
            JAVA SCRIPT
          </div>
        </a>
      </div>
      <div class="block__item text-center col">
        <a href="#" class="block text-center">
          <fa-icon [icon]="['fab', 'php']"></fa-icon>
          <div class="name text-center">
            PHP
          </div>
        </a>
      </div>
      <div class="block__item text-center col">
        <a href="#" class="block text-center">
          <!-- <i class="fa fa-mysql" aria-hidden="true"></i> -->
          <i class="fa fa-database" aria-hidden="true"></i>
          <div class="name text-center">
            SQL
          </div>

        </a>
      </div>
      <div class="block__item text-center col">
        <a href="#" class="block text-center">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
          <div class="name text-center">
            GITHUB
          </div>
        </a>
      </div>
    </div>
  </div>
</div>